.header{
    border: 1px solid;
    border-color: silver;
    border-radius: 5px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    color: silver;
    font-family: "Allura", cursive;
    font-style: italic;
}

