
.table {
    border-collapse: collapse;
    width: 98%;
}

.table__cell {
    padding: 20px;
    text-align: center;
    vertical-align: auto;
    border: 1px solid;
    border-color: teal;
    color: black;
    text-align: center;
}

.table__cell--header {
    padding: 20px;
    text-align: center;
    vertical-align: auto;
    border: 1px solid;
    border-color: teal;
    color: black;
    text-align: center;
    font-style: italic;
}

.table__caption {
    caption-side: top;
    text-align: left;
    margin-bottom: 20px;
}

.table__row {
    color: rgb(0, 0, 0);
}
.table__row--even{
    color: white;
}

.table__row:nth-child(even) {
    background-color: rgb(26, 89, 89);
}
.table__row:nth-child(odd) {
    background-color: rgb(241, 253, 253);
}

.table__row:hover {
    background-color: teal;
}